@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Tapestry&family=Ultra&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*************HEADER SCTION*****************/
.header{
    width: 100%;
    height: 100vh;
    background-image: url(./images/siiii.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.header nav{
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header nav img {
    width: 100px;
}
.header nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}
.header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 15px;
    text-transform: uppercase;
    
}
.header nav li a::after{
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background: #996515;
    margin: auto;
    transition: 0.5s;
  }
 .header nav li a:hover::after{
width: 100%;
margin-top: 5px;
  }
.header nav .user{
    border-left: 1px solid #fff;
}
.header nav .user i{
    margin: 10px;
    color: #fff;
    cursor: pointer;
}
.header .hero-text{
 position: absolute;
 bottom: 300px;
 left: 100px;
}
.header .hero-text h4{
    font-size: 100px;
    color: #996515;
    font-family:'tapestry';
    -webkit-text-stroke: 1px #0285CF;
}
.header .hero-text h4 span{
    color: #fff
}
.header .hero-text p{
    font-size: 20px;   
 color: #fff;
 font-family: 'Montserrat';
}
/**************PURCHASE SECTION****************/
.purchase{
   display: flex;
   font-family: 'Montserrat';
    width: 100%;
    height: 100vh;
    background: #f2f2f2;
    padding: 70px 0;
    position: relative;
  
}
.purchase h2{
 position: absolute;
 left: 50%;
 top: 30px;
 font-family: 'Ultra';
 font-weight: 500;

}
.purchase h2::before{
    content: '';
    display: block;
    background: #996515;
    width: 50px;
    height: 5px;
    position: absolute;
    transform: translate(-60px, 13px);

}
.purchase h2::after{
    content: '';
    display: block;
    background: #996515;
    width: 50px;
    height: 5px;
    position: absolute;
    transform: translate(150px, -17px);

}
.purchase .factor{
    margin: 20px;
    height: 500px;
    width: 1100px;
    background: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 10px 8px #888;
    
}
.purchase .factor i{
    font-size: 50px;
}
/***add colors to the font awesome if you want to*****/
/*.purchase .factor .fa-map-location-dot{
}
.purchase .factor .fa-money-bill-1-wave{
    color: green;
}
.purchase .factor .fa-wifi{
}
*/
.purchase .factor h5{
    font-size: 20px;
    text-transform: uppercase;
    color: #996515;
    margin: 20px 0;
}
/***********HOUSE SALE SECTION***************/
.for-sale{
    display: flex;
    font-family: 'Montserrat';
     width: 100%;
     height: 100vh;
     padding: 70px 0;
     position: relative;
}

    .for-sale h2{
        position: absolute;
        left: 50%;
        top: 30px;
        font-family: 'Ultra';
        font-weight: 500;
       
       }
       .for-sale h2::before{
           content: '';
           display: block;
           background: #996515;
           width: 50px;
           height: 5px;
           position: absolute;
           transform: translate(-60px, 13px);
       
       }
       .for-sale h2::after{
           content: '';
           display: block;
           background: #996515;
           width: 50px;
           height: 5px;
           position: absolute;
           transform: translate(125px, -17px);
       
       }

.for-sale .house-image{
    margin: 60px 20px;
    width: 1100px;
   /*height: 190px;*/
    background: #fff;
    text-align: center;
    padding: 15px 20px;
    box-shadow: 5px 10px 8px #888;
    position: relative;
    box-shadow: 5px 10px 8px #888;
}
.for-sale .house-image .estate-img{
position: relative;
width: 250px;
height: 120px;
background: #000;
border-radius: 4px;
top: -70px;

}

.for-sale .house-image .estate-img img{
    max-width: 100%;
	  border-radius: 4px;
      transition: 0.6s ease-in-out;
}
.for-sale .house-image .estate-img img:hover{
    transform: scale(1.2);
}

.for-sale .house-image .fs-content h5{
    font-size: 20px;
    color: #996515;
    margin: 20px;
}
.for-sale .house-image .fs-content button{
    background: transparent;
    padding: 10px 20px;
    font-size: 15px;
    border: 1px solid #996515;
    border-radius: 10px;
    margin: 20px;
    color: #996515;
    text-transform: uppercase;
    transition: 0.5s;
}
.for-sale .house-image .fs-content button:hover{
    background: #996515;
    color: #fff;
}
/**************FOOTER SECTION******************/
footer{
    background: #996515;
    font-family: 'Poppins';
    text-align: center;
    color: #fff;
}
footer a{
    text-decoration: none;
    color: #fff;

}